.icon-user {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-image: url("../../recipes/static/images/userIcon.svg");
    width: 20px;
    height: 20px;
}
