{% load user_filters %}
<nav class="nav">
    <div class="nav__container container">
        <ul class="nav__items list">
            <li class="nav__item {% if request.resolver_match.url_name in 'index, recipe_view, author_recipes' %}nav__item_active {% endif %}"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
            <li class="nav__item {% if request.resolver_match.url_name == 'follow' %}nav__item_active {% endif %}"><a href="{% url 'follow' %}" class="nav__link link">Мои подписки</a></li>
            <li class="nav__item {% if request.resolver_match.url_name == 'new_recipe' %}nav__item_active {% endif %}"><a href="{% url 'new_recipe' %}" class="nav__link link">Создать рецепт</a></li>
            <li class="nav__item {% if request.resolver_match.url_name == 'favorite_index' %}nav__item_active {% endif %}"><a href="{% url 'favorite_index' %}" class="nav__link link">Избранное</a></li>
            <li class="nav__item {% if request.resolver_match.url_name == 'purchases_list' %}nav__item_active {% endif %}"><a href="{% url 'purchases_list' %}" class="nav__link link">Список покупок</a><span class="badge badge_style_blue nav__badge" id="counter">{{ request|count_recipes }}</span></li>
        </ul>

        <ul class="nav__items list">
            {% if user.is_superuser %}
                <li class="nav__item"><a href="/admin" class="nav__link link">Админка</a></li>
            {% elif user.is_authenticated %}
                <li class="nav__item"><a href="{% url 'profile' user %}" class="nav__link link">{{ user }}</a></li>
            {% endif %}
            <li class="nav__item"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
            <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
        </ul>
    </div>
</nav>
