{% extends 'base.html' %}
{% block title %}Создание рецепта{% endblock %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block content %}
{% csrf_token %}
{% load user_filters %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">
            <p>Вы не можете выполнить данное действие!</p>
            <p>Вы не являетесь автором рецепта</p>
        </h1>
    </div>
</main>
    {% block scripts %}
        <script src="{% static 'js/config/config.js' %}"></script>
        <script src="{% static 'js/components/Header.js' %}"></script>
        <script src="{% static 'js/utils/debouncing.js' %}"></script>
        <script src="{% static 'js/api/Api.js' %}"></script>
        <script src="{% static 'formRecipe.js' %}"></script>
    {% endblock %}

{% endblock %}
