{% extends 'base.html' %}
{% block title %}Рецепты{% endblock %}
{% block content %}
{% load static %}
{% csrf_token %}
{% load user_filters %}

<link rel="stylesheet" href="{% static 'pages/index.css' %}">

<body class="body">
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Рецепты</h1>
            {% include 'includes/tags.html' %}
        </div>
        <div class="card-list">
            {% for recipe in page %}
                {% include 'includes/recipe_card.html' %}
            {% endfor %}
        </div>

        {% if page.paginator.count  > 6 %}
            {% include "includes/paginator.html"%}
        {% endif %}
    </main>
</body>
    {% block scripts %}
        <script src="{% static 'js/components/MainCards.js'%}"></script>
        <script src="{% static 'js/components/Purchases.js'%}"></script>
        <script src="{% static 'js/components/Favorites.js'%}"></script>
        <script src="{% static 'js/config/config.js'%}"></script>
        <script src="{% static 'js/components/CardList.js'%}"></script>
        <script src="{% static 'js/components/Header.js'%}"></script>
        <script src="{% static 'js/api/Api.js'%}"></script>
        <script src="{% static 'indexAuth.js'%}"></script>
    {% endblock %}
{% endblock %}