{% extends 'base.html' %}
{% block title %}Создание рецепта{% endblock %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block content %}
{% csrf_token %}
{% load user_filters %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Создание рецепта</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form__group">
                <label for="id_name" class="form__label">Название рецепта</label>
                <div class="form__field-group">
                    {{ form.title|add_classes:'form__input' }}
                </div>
            </div>

            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                        {% for tag in tags %}
                        <div class="tags__item">
                            <input type="checkbox" name="{{ tag.title }}" id="id_{{ tag.title }}" class="tags__checkbox tags__checkbox_style_{{ tag.color }}"{%if tag in recipe.tag.all %} checked {% endif %}>
                            <label for="id_{{ tag.title }}" class="tags__label">{{ tag.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    {% if request.POST %}
                        {% for error in form.tag.errors %}
                            <span class="form__error">{{ error|escape }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="form__group">
                <label for="nameIngredient" class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input" min="0">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>
                    <div class="form__field-group-ingredientes-container">
                    </div>
                    {% for error in form.ingredient.errors %}
                        <span class="form__error">{{ error }}</span>
                    {% endfor %}
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                </div>
            </div>

            <div class="form__group">
                <label for="id_time" class="form__label">Время приготовления</label>
                <div class="form__field-group form__field-group_time">
                    {{ form.duration|add_classes:'form__input' }}
                    <label for="id_time" class="form__label">минут</label>
                    {% if error %}
                        {% for error in form.duration.errors %}
                            <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <label for="id_description" class="form__label">Описание</label>
                <div class="form__field-group">
                    {{ form.description|add_classes:'form__textarea' }}
                    {% if error %}
                        {% for error in form.description.errors %}
                            <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    <label for="id_file" class="form__file-button">Выбрать файл</label>
                    <input type="file" class="form__file" accept="image/*" name="image" id="id_file" onchange="loadFile(event)">
                    {% if request.POST %}
                        <span class="form__error">{{ form.image.errors|striptags }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <span class="form__label"></span>
                <div class="form__field-group">
                    <div class="polaroid">
                        <img id="new_img" />
                    </div>
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue">Сохранить рецепт</button>
            </div>
        </form>
    </div>


</main>
    {% block scripts %}
        <script src="{% static 'js/config/config.js' %}"></script>
        <script src="{% static 'js/components/Header.js' %}"></script>
        <script src="{% static 'js/utils/debouncing.js' %}"></script>
        <script src="{% static 'js/api/Api.js' %}"></script>
        <script src="{% static 'formRecipe.js' %}"></script>
        <script src="{% static 'preview.image.min.js' %}"></script>
    {% endblock %}
{% endblock %}
